.post{
    flex: 4;
}

.postTop{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0,0.75) ;
    box-shadow:0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.postInfoTop {
    display: flex;
    flex-wrap:wrap;
}
.postInfoImg{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
}
.postTitle{
    font-weight: 600;
}
.postInfoBottom{
    margin-top: 10px;
}
.postInfoValue{
    margin-left: 100px;
}
.postInfoItem{
    display: flex;
    width: 50%;
}
.postInfoKey{
    font-weight: 300;
}

.postDesc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.postBottom{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0,0.75) ;
    box-shadow:0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.postForm{
    display: flex;
    justify-content: space-between;
}
.postFormLeft{
    display: flex;
    flex-direction: column;
}
.postFormLeft>label{
    margin-bottom: 10px;
    color: gray;
}
.postFormLeft>input{
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid grey;
}

.postFormLeft> select{
    margin-bottom: 10px;
}


.postUploadImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.postFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.postUpload{
    display: flex;
    align-items: center;
}

.postButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}