.posts{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}