.footer{
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: #222;
    .container{
        width: 80%;
        .services{
            display: flex;
            justify-content: space-between;
            padding: 20px 0px;
            border-bottom: 1px solid white;
            gap: 10px;
            .item{
                color: rgb(228, 222, 222);
                display: flex;
                justify-content: space-between;
                gap: 2px;
            }
        }
    }
}

.borderRight{
    border-right: 1px solid white;
}